.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

.home-container .list-container {
  margin: 2rem;
  padding: 1rem;
  max-width: 720px;
  width: 100%;
}

.containerFilter {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

@media(max-width: 500px){
  .containerFilter{
    display: block;
    padding: 20px; 
  }

  .dropdown{
    margin-top: 10px;
  }
 }

/* Estilização input */

 .search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 20px;
}

.search .input {
  width: 100%;
  height: 42px;
  font-size: 1rem;
  padding: 8px 50px 8px 10px;
  background-color: #fff;
  border: none;
}

.search .icon {
  width: 40px;
  height: 25px;
}

.search .input:focus {
  outline: 0;
}


.button{
  margin: 20px 0px 0px 0px ;
}

.button button{
  border: none;
  padding: 5px 8px 5px 8px;
  color: #fff;
  background: var(--blue-gradient);
  border-radius: 5px;
}

.pagination{
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin-bottom: 50px;
}

.pagination button{
  padding: 0px 10px 0px 10px;
  background-color: #fff;
  border: none;
  
}

.pagination button:focus{
  color: #61baff ;
}