.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 100px;
}

.App .list-container {
  margin: 2rem;
  padding: 1rem;
  max-width: 720px;
  width: 100%;
}

.containerFilter {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-top: 40px;
}
